{% extends '_base.html' %}


{% block head %}
<style>
  section {
    border: 1px #111 solid;
    padding: 1em;
    margin-top: 1em;
  }
  @media (prefers-color-scheme: dark) {
    section { border: 1px #ddd solid; }
  }
  section h2 { margin-top: 0; }
  section h2 a { border-bottom: 0; }
</style>
{% endblock head %}


{% block main %}
{% for video in videos %}
<section>
  {#
  These attributes are guaranteed to be defined
  (see youtube_dl.extractors.common.InfoExtractor):
  - title
  - webpage_url (since it must be provided to yaas)
  - ext (either required or inferred from URL)
  - format

  These attributes are not guaranteed to be defined:
  - extractor_key
  - url
  #}
  <h2><a href="{{ video['webpage_url'] }}">{{ video['title'] }}</a></h2>
  <p>
     {% if 'extractor_key' in video %}
     {{ video['extractor_key'] }} video
     {% endif %}
     {% if 'uploader_url' in video and 'uploader' in video %}
     by <a href="{{ video['uploader_url'] }}">{{ video['uploader'] }}</a>
     {% endif %}
  </p>
<p>
  <a href="{{ video['url'] }}" download="{{ video['title'] }}.{{ video['ext'] }}">Download (best quality)</a>
  {{ video|print_filesize }}
</p>
<details>
  <summary>All formats</summary>
  <ul>
    {% for format in video['formats']|reverse %}
    <li>
      <a href="{{ format['url'] }}">{{ format['ext'] }} ({{ format['format'] }})</a>
      {{ format|print_filesize }}
    </li>
    {% endfor %}
  </ul>
  <small><a href="{{ url_for_query(request, 'fetch_json', url=video['webpage_url']) }}" target="_blank">View metadata (JSON)</a></small>
</details>
</section>
{% endfor %}
{% endblock %}

